---
title: Home Page
layout: 'base.njk'
---

<body>
  {# To start this CORRECTLY, use npm start #}
  
  <div class="home-image">
    <h1 class="home-text">
      Adventure <br />
      Awaits
    </h1>
    <a class="home-btn" href="./blog">Learn More</a>
  </div>
</body>